/**/__pycache__/*
test_settings.py
deploy_settings.py
*.pyc

# gitignore - Truffle proj
.idea/
bin/
node_modules
yarn-error.log

# mkdocs
site/

# Our environment settings
.env

# Build artifacts
build*/

# For eth-gas-reporter in tests
test-gas-used.log

# vscode
.vscode/

.DS_Store
coverage.json
coverage
browser.js
.coverage_*

# CircleCI local artifacts
process.yml

# Temp files
.tmp/

# CSV files
*.csv

.db

optimism

# python venv
.venv/