sudo: enabled
language: node_js
node_js:
  - 12.18.3
env:
  - COVERAGE=1
  - GAS=1
script:
  - if [ "$COVERAGE" = "1" ]; then NODE_OPTIONS=--max_old_space_size=4096 npm run coverage && bash <(curl -s https://codecov.io/bash); fi
  - if [ "$GAS" = "1" ]; then npm run test:gas && npx codechecks; fi
