sudo: enabled
language: node_js
node_js:
  - 10.16.3
env:
  - COVERAGE=1
  - GAS=1
script:
  - if [ "$COVERAGE" = "1" ]; then npm run coverage && bash <(curl -s https://codecov.io/bash); fi
  - if [ "$GAS" = "1" ]; then npm ci && npm test && npx codechecks; fi
