# Starts a forked local chain
description: Starts a local ganache fork on the specified network
parameters:
  network:
    type: string
  reset:
    type: boolean
    default: false
steps:
  - run:
      command: node publish fork --network << parameters.network >> <<# parameters.reset >> --reset <</ parameters.reset >>
      background: true
  - cmd-wait-for-rpc
