# Wait until a connection is established with http://localhost:9545
steps:
  - run: sleep 5
  - run:
      shell: /bin/sh
      command: |
        wget --retry-connrefused --waitretry=1 --read-timeout=120 --timeout=120 -t 100 http://localhost:9545
        :
