version: 2
jobs:
  prepare:
    docker:
      - image: 'circleci/node:10.16.3'
    steps:
      - checkout
      - restore_cache:
          keys:
            - 'v1.3-dependencies-{{ checksum "package-lock.json" }}'
            - v1.3-dependencies-
      - run: npm install
      - run: npm run lint
      - save_cache:
          paths:
            - node_modules
          key: 'v1.3-dependencies-{{ checksum "package-lock.json" }}'
      - persist_to_workspace:
          root: .
          paths:
            - node_modules
  unit:
    docker:
      - image: 'circleci/node:10.16.3'
    steps:
      - checkout
      - attach_workspace:
          at: .
      - run: npm run test:gas
      - run: npx codechecks
  int:
    docker:
      - image: 'circleci/node:10.16.3'
    steps:
      - checkout
      - attach_workspace:
          at: .
      - run: npm run test:int
workflows:
  version: 2
  dev:
    jobs:
      - prepare
      - unit:
          requires:
            - prepare
      - int:
          requires:
            - unit
