# Starts optimism-integration L1 and L2 local chains and runs Optimism integration tests against them
{{> job-header-machine.yml}}
resource_class: large
steps:
  - checkout
  - attach_workspace:
      at: .
  - restore_cache:
      keys:
        - v2-optimism-build-{{ checksum "package-lock.json" }}
  - run:
      name: Build docker containers if necessary
      command: |
        # Disabled until ops tool is more reliable
        # if [ ! -d ./optimism ]; then
          npx hardhat ops --fresh --build --build-ops
        # fi;
  - save_cache:
      key: v2-optimism-build-{{ checksum "package-lock.json" }}
      paths:
        - ./optimism
  - run:
      name: Start docker chains
      background: true
      command: |
        npx hardhat ops --start
  - cmd-wait-for-port:
      port: 8545
  - cmd-wait-for-port:
      port: 9545
  - run:
      name: Run isolated layer 1 integration tests
      command: |
        npx hardhat test:integration:l1 --compile --deploy --provider-port 9545
  - run:
      name: Run isolated layer 2 integration tests
      command: |
        npx hardhat test:integration:l2 --compile --deploy
  - run:
      name: Run dual layer 1 and layer 2 integration tests
      command: |
        npx hardhat test:integration:dual --deploy
