# Compiles for ovm and runs unit tests in a local ovm chain
{{> job-header.yml}}
steps:
  - checkout
  - attach_workspace:
      at: .
  - run: npx hardhat compile --use-ovm --optimizer --force
  - run:
      name: Test and output gas used
      command: |
        set +e
        npm run test:ovm -- --no-compile
        EXIT_CODE=$?
        cat test-gas-used.log
        printf "\\n"
        exit $EXIT_CODE
