# Starts optimism-integration L1 and L2 local chains and runs Optimism integration tests against them
{{> job-header-machine.yml}}
resource_class: large
steps:
  - checkout
  - attach_workspace:
      at: .
  - run:
      name: Build docker containers and start chains
      background: true
      command: |
        npx hardhat ops --fresh --start --optimism-path ./optimism
  - cmd-wait-for-port:
        port: 8545
  - cmd-wait-for-port:
        port: 9545
  - run:
      name: Run isolated layer 1 integration tests
      command: |
        npx hardhat test:integration:l1 --compile --deploy --provider-port 9545
  - run:
      name: Run isolated layer 2 integration tests
      command: |
        npx hardhat test:integration:l2 --compile --deploy
  - run:
      name: Run dual layer 1 and layer 2 integration tests
      command: |
        npx hardhat test:integration:dual --deploy
