# Starts optimism-integration L1 and L2 local chains and runs Optimism integration tests against them
{{> job-header-machine.yml}}
resource_class: large
steps:
  - checkout
  - attach_workspace:
      at: .
  - run:
      name: Build docker containers
      command: |
        git clone git@github.com:ethereum-optimism/optimism.git
        cd optimism
        git fetch
        git checkout develop
        git pull origin develop
        yarn
        yarn build
        cd ops
        export COMPOSE_DOCKER_CLI_BUILD=1
        export DOCKER_BUILDKIT=1
        docker-compose build --parallel
  - run:
      name: Start chains
      background: true
      command: |
        cd optimism/ops
        docker-compose up -d
  - cmd-wait-for-port:
        port: 8545
  - cmd-wait-for-port:
        port: 9545
  - run:
      name: Run isolated layer 1 integration tests
      command: |
        npx hardhat test:integration:l1 --compile --deploy
  - run:
      name: Run isolated layer 2 integration tests
      command: |
        npx hardhat test:integration:l2 --compile --deploy
  - run:
      name: Run dual layer 1 and layer 2 integration tests
      command: |
        npx hardhat test:integration:dual --deploy
