# Starts optimism-integration L1 and L2 local chains and runs Optimism integration tests against them
# TODO: The Optimism ops tool is currently unstable, thue the commented out code below.
{{> job-header-machine.yml}}
# set custom delimiter to avoid checksum parsing
{{=<% %>=}}
resource_class: large
steps:
  - checkout
  - attach_workspace:
      at: .
  - run:
      name: Build docker containers if necessary
      command: |
        if [ ! -d ./optimism ]; then
          npx hardhat ops --fresh --build --build-ops
        fi;
  - run:
      name: Start docker chains
      background: true
      command: |
        docker --version
        npx hardhat ops --start
  - cmd-wait-for-port:
      port: 8545
  - cmd-wait-for-port:
      port: 9545
  - run:
      name: Run isolated layer 1 integration tests
      command: |
        npx hardhat test:integration:l1 --compile --deploy --provider-port 9545
  - run:
      name: Run isolated layer 2 integration tests
      command: |
        npx hardhat test:integration:l2 --compile --deploy
  - run:
      name: Run dual layer 1 and layer 2 integration tests
      command: |
        npx hardhat test:integration:dual --deploy
